<div class="row bootstrap snippets" id="real-estates-columns">
  <% @releases.each do |release| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="panel">
        <div class="panel-body">
          <h2 class="text-center"><%= release.name %></h2></br>
          <%= image_tag(release.picture, class: "img-responsive") %>
          <%# if @release.user.id == current_user %>
            <%= link_to "Edit", edit_sal_release_path(@sal, release), class: "btn btn-primary" %>
            <%= link_to "Delete", sal_release_path(@sal, release), :confirm => "Are you sure?", :method => :delete, class: "btn btn-danger" %> 
          <%# end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="text-center">
  <%= will_paginate @releases, renderer: BootstrapPagination::Rails %>
</div>