<h1>Add a New Sal</h1>

<%= simple_form_for(@sal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :company %>
    <%= f.input :picture %>
    <%= f.input :start_date, order: [:day, :month, :year] %>
    <%= f.input :end_date, order: [:day, :month, :year] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>