<div class="container">
  <div class="row">
    <div class="col-md-3">
      </br>
      <h2 class="text-center"><%= @user.username.capitalize %></h2>
      <hr>
      <p class="text-center">Member since: <%= @user.created_at.strftime("%b %d, %Y") %></p>
      <h5 class="text-center">
      <% if @user.beta_tester? %>
        <span class="label label-info">Beta Tester</span>
      <% end %>
      <% if @user.premium_member? %>
        <span class="label label-warning">Premium Member</span>
      <% end %>
      </h5>
      <hr>
      <% if @user.bio %>
      <p><%= @user.bio %></p>
      <% end %>
      <hr>
      <% if @user.youtube.present? %>
      <%= link_to '<i class="fa fa-youtube fa-2x"></i>'.html_safe, @user.youtube %>
      <% end %>
      <% if @user.instagram.present? %>
      <%= link_to '<i class="fa fa-instagram fa-2x"></i>'.html_safe, @user.instagram %>
      <% end %>
      <% if @user.twitter.present? %>
      <%= link_to '<i class="fa fa-twitter fa-2x"></i>'.html_safe, @user.twitter %>
      <% end %>
      <% if @user.twitch.present? %>
      <%= link_to '<i class="fa fa-twitch fa-2x"></i>'.html_safe, @user.twitch %>
      <% end %>
      <% if @user.website.present? %>
      <%= link_to '<i class="fa fa-external-link fa-2x"></i>'.html_safe, @user.website %>
      <% end %>
      <% if @user.blog.present? %>
      <%= link_to '<i class="fa fa-pencil-square-o fa-2x"></i>'.html_safe, @user.blog %>
      <% end %>
      <% if @user.shop.present? %>
      <%= link_to '<i class="fa fa-shopping-cart fa-2x"></i>'.html_safe, @user.shop %>
      <% end %>
      <hr>
      <% if @user.birthday.present? %>
      <p>Birthday: <%= @user.birthday.strftime("%B %d") %></p>
      <% end %>
    </div>
      <!-- Nav tabs -->
    <div class="col-md-8">
      <h1></h1>
    </div>
  </div>
</div>