<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @designer.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @designer.website %>
</p>

<p>
  <strong>Description:</strong>
  <%= @designer.description %>
</p>

<%= link_to 'Edit', edit_designer_path(@designer) %> |
<%= link_to 'Back', designers_path %>
