
<% if user_signed_in? %>
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <div class="row">
    <div class="col-sm-6">
      <% if current_user.projects.count > 0 %>
        <h2>I have <%= current_user.projects.count %> Projects</h2>
        <%= link_to "My Projects", user_projects_path(current_user), class: "btn btn-primary" %>
      <% else %>
        <%= link_to "New Project", new_user_project_path(current_user), class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <% if current_user.user_flosses.count > 0 %>
        <h2>I have <%= current_user.user_flosses.count %> Flosses in my stash</h2>
        <%= link_to "My Floss", flosses_path, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Add some Floss", flosses_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
<% else %>
<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Stitchingly</h1>
    <br />
    <h2>Tutorials, tools and products to help you spend more time cross stitching. We help you find, keep track, and finish your projects.</h2>
    <br />
    <h2>Letting you focus on the stitching!</h2>
    <br />
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Keep Track of Your Stash</h3>
    <br />
    <p>Our floss and fabric inventory lets you keep track of what you have so you will never buy an item again when you already have it at home. </p>
  </div>

  <div class="col-sm-4">
    <h3>Manage Your Projects</h3>
    <br />
    <p>Want to see at a glance all the projects you are working on or have finished and your progress on each? Add pictures of each one as you stitch to keep a record of how your project came together. </p>
  </div>

  <div class="col-sm-4">
    <h3>Look for Inspiration</h3>
    <br />
    <p>Get inspiration for your next project from those that other members are stitching. Want to find projects based on the name, designer or fabric?</p>
  </div>
</div>
<% end %>