<div class="booyah-box col-xs-10 col-xs-offset-1">
<h1>New Project</h1>
<%= simple_form_for @project, url: user_projects_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: 'Name of your project' %>
    <%= f.input :notes, placeholder: 'Any notes about your project or changes you have made.' %>
    <%= f.input :progress, placeholder: '% Complete' %>
    <%= f.input :status, collection: ['Wishlist', 'Kitted','WIP', 'UFO', 'FFO', 'Finish'], prompt: "Select a Status" %>
    <%= f.input :pattern_name %>
    <%= f.input :pattern_designer %>
    <%= f.input :fabric_brand %>
    <%= f.input :fabric_colour %>
    <%= f.input :fabric_count %>
    <%= f.input :thread_brand %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success padding" %>
    <%= link_to 'Back', :back, class: "btn btn-default padding pull-right" %>
  </div>
<% end %><%= render 'form', project: @project %>
</div>