<% @flosses.each do |floss| %>
  <tr>
    <td><strong><%= floss.colour %></strong></td>
    <td><strong><%= floss.flossnumber %></strong></td>
      <td class="text-center">
        <div href="#" id="decrease_user_floss_quantity_<%=floss.id%>" class="btn btn-success btn-xs decrease_user_floss_quantity"><i class="fa fa-minus"></i></div>
        <span id="display_user_floss_quantity_<%=floss.id%>" class="display_user_floss_quantity"><%= UserFloss.get_userfloss_quantity_by_user_and_floss(current_user, floss)%></span>
        <div href="#" id="increase_user_floss_quantity_<%=floss.id%>" class="btn btn-success btn-xs increase_user_floss_quantity"><i class="fa fa-plus"></i></div>
      </td>
  </tr>   
<% end %> 

<script>
  $(".increase_user_floss_quantity").click(function(){
    var id = $(this).attr('id').substring(29);
    var url_to_load = "/flosses/increase_with_jquery/" + String(id); 
    //alert(url_to_load);
    $("#display_user_floss_quantity_" + String(id)).load(url_to_load);    
  });
  $(".decrease_user_floss_quantity").click(function(){
    var id = $(this).attr('id').substring(29);
    var url_to_load = "/flosses/decrease_with_jquery/" + String(id) ;
    //alert(url_to_load);
    $("#display_user_floss_quantity_" + String(id)).load(url_to_load);    
  });  

</script>