<% @flosses.each do |floss| %>
  <tr>
    <td><strong><%= floss.colour %></strong></td>
    <td><strong><%= floss.flossnumber %></strong></td>
    <% if floss.users.include? current_user %>
      <td class="text-center">
        <%= link_to '<i class="fa fa-minus"></i>'.html_safe, decrease_floss_path(floss, :user_floss => { :floss_quantity => floss.user_floss_quantity, :user_floss_id => floss.user_floss}), :method => :put, class: "btn btn-success btn-xs" %>
        <%= floss.user_floss_quantity %>
        <%= link_to '<i class="fa fa-plus"></i>'.html_safe, increase_floss_path(floss, :user_floss => { :floss_quantity => floss.user_floss_quantity, :user_floss_id => floss.user_floss}), :method => :put, class: "btn btn-success btn-xs" %>
      </td>
    <% else %>
      <td class="text-center">
        <%= link_to '<i class="fa fa-plus"></i>'.html_safe, user_flosses_path(:user_floss => {:user_id => current_user.id, :floss_id => floss.id, :floss_quantity => 1}), :method => :post, class: "btn btn-success btn-xs" %>
      </td>
    <% end %>
  </tr>   
<% end %> 