<div class="col-sm-3 col-md-3">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <span class="glyphicon glyphicon-th"></span>
            Stranded Cotton
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>
                <%= link_to "DMC", flosses_path(brand: "DMC", type: "Stranded Cotton") %>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to "Anchor", flosses_path(brand: "Anchor", type: "Stranded Cotton") %>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to "Madeira", flosses_path(brand: "Madeira", type: "Stranded Cotton") %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <span class="glyphicon glyphicon-th"></span>
            Hand Dyed Threads
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>
                <%= link_to "Weeks Dye Works", flosses_path(brand: "Weeks Dye Works", type: "Hand Dyed") %>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to "The Gentle Art", flosses_path(brand: "Gentle Art", type: "Hand Dyed") %>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to "Mo's Sale", flosses_path(brand: "Mo's Sale", type: "Hand Dyed") %>
              </td>
            </tr>
            <tr>
              <td>
                Dinky Dyes
              </td>
            </tr>
            <tr>
              <td>
                Jodyri Designs
              </td>
            </tr>
            <tr>
              <td>
                Threadpickerz Silkz
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <span class="glyphicon glyphicon-th"></span>
            Speciality Threads
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>
                Kreinik
              </td>
            </tr>
            <tr>
              <td>
                Perle
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to "DMC Metalic", flosses_path(brand: "DMC", type: "Speciality") %>
              </td>
            </tr>
            <tr>
              <td>
                DMC Variegated
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

